body {
  text-align: center;
  background: url("../images/giphy.gif"); /*  */
  background-size: ;
  background-position: ;
  color: gray;
  /*font-family: helvetica;*/
}
p {
  font-size: 22px;
}
input {
  border: 0;
  padding: 10px;
  font-size: 18px;
}
input[type="submit"] {
  background: red;
  color: black;
}

a:link {
  color:white;
}

a:visited{
  color:gray;
}
